@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
 <h1>[[ Welcome to <b style="color:red;">@Model.indexUI</b> Environment ]]</h1>
    <br><br><br>
    <h2>Group Members</h2>

    <p>Afeera Bint-e-Tanveer</p>
    <p>Javeria Maqbool</p>
    <p>Maryyam Shaban</p>
    <p>Sibghah Iemangit</p>



   

</div>
