@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
<h2>Group Members</h2>

<table>
  <tr>
    <td>Afeera Bint-e-Tanveer</td>
   
  </tr>
  <tr>
    <td>Javeria Maqbool</td>
   
  </tr>
  <tr>
    <td>Maryyam ShabanErnst Handel</td>
    
  </tr>
  <tr>
    <td>Sibghah Ieman</td>
  
  </tr>
  
</table>


    <p>Added by Beenish on @DateTime.Now. SAP 35986</p>

    <p>Edited by Tayyab on @DateTime.Now. SAP 41567</p>

    <p>Edited by mahnoor on @DateTime.Now. SAP 36699</p>


    <h1>{Welcome to <b style="color:red;">@Model.indexUI</b> Environment}</h1>

</div>
